/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}
header {
  background-color: #222f3f;
}

header img {
  width: 150px;
}

nav {
  background-color: #364759;
  height: 18px;
}
nav a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

main {
  margin: 30px;
}

div {
  margin: 20px;
}
#bg-or {
  background-color: #dd5a10;
  height: 20px;
}

#bg-or p {
  text-align: center;
  color: white;
}

#bg-img {
  background-image: url("../images/bg-image.png");
  text-align: center;
  height: 100px;
  background-size: contain;
}

#bg-img h2 {
  color: white;
  padding: 20px;
  font-weight: bold;
}

#bg-img p {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

#Riquadro-immagini {
  background-color: #ffffff;
  height: 300px;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: gray;
}

#Riquadro-immagini p {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}
#Riquadro-immagini a {
  color: rgb(8, 56, 246);
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
}

.immagini-accanto {
  display: inline;
  height: 200px;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
}

#Immagine-grande img {
  width: 100%;
}

#Immagine-grande p {
  text-align: center;
}
#Immagine-grande p a {
  text-decoration: none;
  color: rgb(8, 56, 246);
  font-size: 10px;
  font-weight: bold;
}

footer {
  background-color: #364759;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
footer div {
  background-color: #222f3f;
  margin: 0;
}

footer img {
  width: 100px;
}
